<!DOCTYPE html>
<!-- You should write HTML in EJS file. Anything valid for HTML will be valid for EJS. -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
