<%- include('partials/header') %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  // Test for the ugliness.
  if (window.location.hash === "#_=_"){
      // Check if the browser supports history.replaceState.
      if (history.replaceState) {
          // Keep the exact URL up to the hash.
          var cleanHref = window.location.href.split("#")[0];
          // Replace the URL in the address bar without messing with the back button.
          history.replaceState(null, null, cleanHref);
      } else {
          // Well, you're on an old browser, we can get rid of the _=_ but not the #.
          window.location.hash = "";
      }
  }
</script>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
